#### Absenteeism Module testing file 

    creating a module with methods
    
        1. load_clean_data  - loads the new data and cleans it along with scaling
        2. predicted_probability - gets the probability for each record
        3. predicted_output_category - gets the predited value 
        4. predicted_outputs - displays the dataframe with probability and prediction
        5. __init__

In [2]:
from Absenteeism_module import *

In [16]:

# getting the new data and cleaning 
new_data = 'data_raw_new.xls'


ab_mod = Absenteeism_module()


ab_mod.load_n_clean(new_data)

cleaned_data = ab_mod.data 
cleaned_data.head()

   Reason_1  Reason_2  ...  Body mass index  Excessive Absentise
0         0         0  ...               30                    1
1         0         0  ...               31                    0
2         0         0  ...               31                    0
3         1         0  ...               24                    1
4         0         0  ...               30                    0

[5 rows x 14 columns]

# Scaling the data

In [26]:
columns_to_scale = ['Month of absence',
            'Day of the week', 'Transportation expense',
            'Distance from Residence to Work', 'Work load Average/day ','Son', 'Pet', 'Body mass index']
cus_scale = CustomScaler(columns_to_scale)

scaled_data = cus_scale.fit_transform(cleaned_date)
scaled_data.head()

   Reason_1  Reason_2  ...  Body mass index  Excessive Absentise
0         0         0  ...         0.598627                    1
1         0         0  ...         0.813813                    0
2         0         0  ...         0.813813                    0
3         1         0  ...        -0.692485                    1
4         0         0  ...         0.598627                    0

[5 rows x 14 columns]

In [29]:
output = ab_mod.predicted_outputs(scaled_data.iloc[:,:-1])

In [33]:
((scaled_data['Excessive Absentise'] == output['Prediction']).sum())/ ((scaled_data['Excessive Absentise'] == output['Prediction']).count())

0.7819148936170213

# 78% of the time our model is predicting the "Excessive Absentise"